<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GASystem.GAGUI.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLOLEDB;Data Source=DESKTOP-512F3B5\GPSQL;User ID=sa;Initial Catalog=flagdata"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>