<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GASystem.Properties.Settings.flagdata20080117ConnectionString"
            connectionString="Data Source=localhost\SQL2008;Initial Catalog=flagdataGeoRXT;User ID=sa;Password=flag.sql"
            providerName="System.Data.SqlClient" />
        <add name="GASystem.Properties.Settings.flagdataNittedalKommuneConnectionString"
            connectionString="Data Source=localhost\SQL2008;Initial Catalog=flagdata20160729;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>