<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	 <appSettings>
		<add key="ConnectionString" value="Server=localhost\sql2008;Database=flagdata20140725;uid=sa;pwd=flag.sql;" />
     <!-- Smtp server address. -->
     <add key="SMTPServer" value="smtp.online.no" />
     <add key="SMTPPort" value="465" />
     <add key="SMTPUsername" value="t-hesk@online.no" />
     <add key="SMTPPassword" value="eiber555" />
     <add key="SMTPFromAddress" value="testdonotreply@norsolutions.com" />
     <!--add key="SMTPServer" value="srv-email.georadar.com.br" />
     <add key="SMTPPort" value="587" />
     <add key="SMTPFromAddress" value="flagdonotreply@georadar.com.br" />
		<add key="SMTPServer" value="ly-exc.corp.rxt.com" />
    <add key="SMTPPort" value="26" />
		<add key="SMTPFromAddress" value="donotreply@norsolutions.com" /-->

     <add key="DNNDatabaseName" value="flagdnn"/>

		 <add key="CultureToUse" value="en-US" />

	 </appSettings>
		
    <!-- Show missing translation keys (for development use) -->
    <!--  GA app Settings -->
    
</configuration>
