<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GASystem.DataModel.Properties.Settings.flagdata_devConnectionString"
            connectionString="Data Source=localhost\sql2008;Initial Catalog=flagdataGeoRXT;User ID=sa;Password=flag.sql"
            providerName="System.Data.SqlClient" />
        <add name="GASystem.DataModel.Properties.Settings.flagdatarxtConnectionString"
            connectionString="Data Source=localhost\sql2008;Initial Catalog=flagdataGeoRXT;Persist Security Info=True;User ID=sa;Password=flag.sql"
            providerName="System.Data.SqlClient" />
        <add name="GASystem.DataModel.Properties.Settings.flagdata070807ConnectionString"
            connectionString="Data Source=localhost\sql2008;Initial Catalog=flagdataGeoRXT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GASystem.DataModel.Properties.Settings.gadata2ConnectionString"
            connectionString="Data Source=localhost\sql2008;Initial Catalog=flagdataGeoRXT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GASystem.DataModel.Properties.Settings.flagdata071025ConnectionString"
            connectionString="Data Source=localhost\sql2008;Initial Catalog=flagdataGeoRXT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GASystem.DataModel.Properties.Settings.flagdata20080117ConnectionString"
            connectionString="Data Source=localhost\sql2008;Initial Catalog=flagdataGeoRXT;User ID=sa;Password=flag.sql"
            providerName="System.Data.SqlClient" />
        <add name="GASystem.DataModel.Properties.Settings.flagdataConnectionString"
            connectionString="Data Source=localhost\sql2008;Initial Catalog=flagdataGeoRXT;Persist Security Info=True;User ID=sa;Password=flag.sql"
            providerName="System.Data.SqlClient" />
        <add name="GASystem.DataModel.Properties.Settings.flagdataNittedalKommuneConnectionString"
            connectionString="Data Source=localhost\sql2008;Initial Catalog=flagdataGeoRXT;User ID=sa;Password=flag.sql"
            providerName="System.Data.SqlClient" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLOLEDB;Data Source=localhost\sql2008;Persist Security Info=True;Password=flag.sql;User ID=sa;Initial Catalog=flagdataGeoRXT"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString1"
            connectionString="Provider=SQLOLEDB;Data Source=localhost\sql2008;Password=flag.sql;User ID=sa;Initial Catalog=flagdataGeoRXT"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString2"
            connectionString="Provider=SQLOLEDB;Data Source=localhost\sql2008;Password=flag.sql;User ID=sa;Initial Catalog=flagdataGeoRXT"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.flagdata20081118ConnectionString"
            connectionString="Data Source=localhost\sql2008;Initial Catalog=flagdataGeoRXT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GASystem.DataModel.Properties.Settings.flagdata20090427ConnectionString"
            connectionString="Data Source=localhost\sql2008;Initial Catalog=flagdataGeoRXT;Persist Security Info=True;User ID=sa;Password=flag.sql"
            providerName="System.Data.SqlClient" />
        <add name="GASystem.DataModel.Properties.Settings.flagdataConnectionString1"
            connectionString="Data Source=localhost\sql2008;Initial Catalog=flagdataGeoRXT;Persist Security Info=True;User ID=sa;Password=flag.sql"
            providerName="System.Data.SqlClient" />
        <add name="GASystem.DataModel.Properties.Settings.flagdata_pathConnectionString"
            connectionString="Data Source=localhost\sql2008;Initial Catalog=flagdataGeoRXT;User ID=sa;Password=flag.sql"
            providerName="System.Data.SqlClient" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString3"
            connectionString="Provider=SQLOLEDB;Data Source=localhost\sql2008;Persist Security Info=True;Password=flag.sql;User ID=sa;Initial Catalog=flagdataGeoRXT"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString4"
            connectionString="Provider=SQLOLEDB;Data Source=localhost\sql2008;Integrated Security=SSPI;Initial Catalog=flagdataGeoRXT"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString5"
            connectionString="Provider=SQLOLEDB;Data Source=TH-CND0381F2J\SQL2008;Integrated Security=SSPI;Initial Catalog=flagdataGeoRXT"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString6"
            connectionString="Provider=SQLOLEDB;Data Source=GA2\SQLSERVER2008;User ID=sa;Initial Catalog=flagdatageo"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString7"
            connectionString="Provider=SQLOLEDB;Data Source=TH-CND0381F2J\SQL2008;Integrated Security=SSPI;Initial Catalog=flagdata20140725"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString8"
            connectionString="Provider=SQLOLEDB;Data Source=TH-CND0381F2J\SQL2008;Integrated Security=SSPI;Initial Catalog=flagdata20150101"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString9"
            connectionString="Provider=SQLOLEDB;Data Source=TH-CND0381F2J\SQL2008;Integrated Security=SSPI;Initial Catalog=flagdata20150130"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString10"
            connectionString="Provider=SQLOLEDB;Data Source=TH-CND0381F2J\SQL2008;Integrated Security=SSPI;Initial Catalog=flagdata20150424"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString11"
            connectionString="Provider=SQLOLEDB;Data Source=TH-CND0381F2J\SQL2008;Integrated Security=SSPI;Initial Catalog=flagdata20150821"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString12"
            connectionString="Provider=SQLOLEDB;Data Source=TH-CND0381F2J\SQL2008;Integrated Security=SSPI;Initial Catalog=flagdata20150925"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString13"
            connectionString="Provider=SQLOLEDB;Data Source=TH-CND0381F2J\SQL2008;Integrated Security=SSPI;Initial Catalog=flagdata20151113"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString14"
            connectionString="Provider=SQLOLEDB;Data Source=TH-CND0381F2J\SQL2008;Integrated Security=SSPI;Initial Catalog=flagdata20151211"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString15"
            connectionString="Provider=SQLOLEDB;Data Source=TH-CND0381F2J\SQL2008;Integrated Security=SSPI;Initial Catalog=flagdata20160205"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString16"
            connectionString="Provider=SQLOLEDB;Data Source=TH-CND0381F2J\SQL2008;Integrated Security=SSPI;Initial Catalog=flagdata20160311"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString17"
            connectionString="Provider=SQLOLEDB;Data Source=TH-CND0381F2J\SQL2008;Integrated Security=SSPI;Initial Catalog=flagdata20160715"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString18"
            connectionString="Provider=SQLOLEDB;Data Source=TH-CND0381F2J\SQL2008;Integrated Security=SSPI;Initial Catalog=flagdata20161109"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString19"
            connectionString="Provider=SQLOLEDB;Data Source=localhost\sql2008;Integrated Security=SSPI;Initial Catalog=flagdata20170303"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString20"
            connectionString="Provider=SQLOLEDB;Data Source=localhost\sql2008;Persist Security Info=True;Password=flag.sql;User ID=sa;Initial Catalog=flagdata20170324"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString21"
            connectionString="Provider=SQLOLEDB;Data Source=localhost\sql2008;Integrated Security=SSPI;Initial Catalog=flagdata20170602"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString22"
            connectionString="Provider=SQLOLEDB;Data Source=localhost\sql2008;Integrated Security=SSPI;Initial Catalog=flagdata20170831"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString23"
            connectionString="Provider=SQLOLEDB;Data Source=DESKTOP-512F3B5\GPSQL;Persist Security Info=True;Password=Gaopeng881026##;User ID=sa;Initial Catalog=flagdata"
            providerName="System.Data.OleDb" />
        <add name="GASystem.DataModel.Properties.Settings.ConnectionString24"
            connectionString="Provider=SQLOLEDB;Data Source=DESKTOP-512F3B5\GPSQL;User ID=sa;Initial Catalog=flagdata"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>