<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=TH-CND0381F2J\sqlserver2008;Database=flagdata;uid=sa;pwd=flag.sql;" />
    <add key="DataCacheTimeoutSeconds" value="0"/>
    
    <add key="SMSGatewayUsername" value="rtx"/>
    <add key="SMSGatewayPassword" value="VUp88p3"/>
    <add key="SMSGatewayURL" value="http://sms3.pswin.com/sms"/>
    <add key="SMSSenderString" value="Flag" />
    <add key="SMSDefaultReceiver" value="4790046582"/>

    <add key="OWFEGAUserStoreName" value="Store.gauser" />
    <add key="OWFEGAUserStorePath" value="C:\\flag\\flagworkflow\\work\\worklist\\store\\Store.gauser\\" />
    <add key="OWFEWorkSessionServerAddress" value="localhost" />
    <add key="OWFEWorkSessionServerPort" value="5080" />
    <add key="OWFEUserName" value="ga" />
    <add key="OWFEPassword" value="bob" />
    <add key="OWFEWorkitemCacheTimeout" value="120" />
    <add key="CoordinatorWorkitemRole" value="HSEQ co-ordinator"/>

    <add key="SMTPServer" value="srv-email.georadar.com.br" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPFromAddress" value="flagdonotreply@georadar.com.br" />
    <add key="SMTPSignature" value="\n \nThis message was sent from FLAG. \nDo not reply to this message. \n\nTo log on to FLAG On vessels and from Offices on GeoRXT network: http://intranet/flag/ \n \n\nThank you for using Flag" />
    <add key="SMTPUsername" value="flagDoNotReply@georadar.com.br" />
    <add key="SMTPPassword" value="Fl@gd0n0t" />

<!--
    <add key="SMTPServer" value="ly-exc.corp.rxt.com" />
    <add key="SMTPPort" value="26" />
    <add key="SMTPFromAddress" value="donotreply@norsolutions.com" />
    -->
    
  </appSettings>
</configuration>